:root {
  --background-color-dark: #1f2035;
  --text-color-dark: #ffffff;
  --primary-color-dark: #8b00ff;

  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --primary-color-light: #deb8ff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  height: 100vh;
  overflow: hidden;
}

:root[data-theme="dark"] {
  /* --primary-color: #455363; */
  --primary-color: var(--primary-color-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

:root[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--primary-color-light);
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
  }
}

button.ui-theme-toggle {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  padding-left: 0.5vw;
  cursor: pointer;
}

button.ui-theme-toggle:active {
  background-color: var(--primary-color);
}

div.settings-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vw;
}
